name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: windows-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Are you absolutely sure there's an issue? Might want to double check, perhaps it's a feature."
        pr-message: "Yes, this will cause a crash later. Too bad!"
